@using EduHomee.Models
@model Testimonial

<form class="form-control">
    <div class="mb-3">
        <label class="form-label" style="font-size:34px;">Image</label>
        <div style="width: 100px; height: 100px; border: 1px dashed grey; border-radius: 100px;">

            <img style="width: 100px; height: 100px; border-radius:100px;" src="~/assets/img/testimonial/@Model.Image" />


        </div>
    </div>
    <div class="mt-3">
        <label class="form-label" style="font-size:34px;">FullName</label>

        <div class="mt-1" style="width:100%;height:40px;border:1px dashed grey;padding-top:10px;padding-left:20px;">
            @Model.Fullname
        </div>
    </div>
    <div class="mt-3">
        <label class="form-label" style="font-size:34px;">Description</label>

        <div class="mt-1" style="width:100%;height:40px;border:1px dashed grey;padding-top:10px;padding-left:20px;">
            @Model.Description
        </div>
    </div>
    <div class="mt-3">
        <label class="form-label" style="font-size:34px;">Work</label>

        <div class="mt-1" style="width:100%;height:40px;border:1px dashed grey;padding-top:10px;padding-left:20px;">
            @Model.Work
        </div>
    </div>
    <a asp-action="Index" class="btn btn-primary mt-3">Go back</a>
</form>




















