@using EduHomee.Models
@model Skill

<div class="container mt-5">
    <div class="img">

    </div>
    <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
        <div style="display:flex;justify-content:space-between">

            <div class="form-group">
                <label asp-for="Name" style="font-size:24px"></label>
                <input class="form-control" style="width:300px" asp-for="Name">
                <span class="text-danger"></span>
            </div>

         
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
