@using EduHomee.Models
@model About
@{
    
    Layout = "_AdminLayout";
}


<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h3>About</h3>
        
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>

                        <th>
                            Title

                        </th>

                        <th>
                            Description
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                      
                        <td>
                            <div style="width:200px;height:200px">
                                <img style="width:150px;height:150px;border-radius:150px;margin-top:20px;" src="~/assets/img/about/@Model.Image" />
                            </div>
                        </td>

                        <td>
                            @Model.Title
                        </td>

                        <td>
                            @Model.Description
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@Model.Id">
                                <i class="mdi mdi-account-box-outline"></i>
                            </a>
                            <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@Model.Id">
                                <i class="mdi mdi-table-edit"></i>
                            </a>
                           
                        </td>
                    </tr>
                       
                    

                </tbody>
            </table>
        </div>
    </div>

</div>
